<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Base" connectionString="Data Source=mario-ulp\sqlexpress;Initial Catalog=Bd_SistemaVenta;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
</configuration>